@import "tailwindcss";

:root {
	--background: #101922;
	--foreground: #ffffff;
}

@theme inline {
	--color-primary: #137fec;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-space: var(--font-space-grotesk);
	--font-body: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #101922;
		--foreground: #ffffff;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
